<DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
        <link rel="canonical" href="https://themes.getbootstrap.com/preview/" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="article" />
        <meta property="og:title" content="Preview - Bootstrap Themes" />
        <meta property="og:url" content="https://themes.getbootstrap.com/preview/" />
        <meta property="og:site_name" content="Bootstrap Themes" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content="Preview - Bootstrap Themes" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel= "stylesheet" href="https://bootswatch.com/5/quartz/bootstrap.min.css">
            <link rel="stylesheet" href={{asset('Style.CSS')}}>
         
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
           <script type='text/javascript'>
            /* <![CDATA[ */
            var dokan = {"ajaxurl":"https:\/\/themes.getbootstrap.com\/wp-admin\/admin-ajax.php","nonce":"751b812bc3","ajax_loader":"https:\/\/themes.getbootstrap.com\/wp-content\/plugins\/dokan-lite\/assets\/images\/ajax-loader.gif","seller":{"available":"Available","notAvailable":"Not Available"},"delete_confirm":"Are you sure?","wrong_message":"Something went wrong. Please try again.","vendor_percentage":"70","commission_type":"percentage","rounding_precision":"6","mon_decimal_point":".","product_types":["simple"],"rest":{"root":"https:\/\/themes.getbootstrap.com\/wp-json\/","nonce":"6f5d9304f1","version":"dokan\/v1"},"api":null,"libs":[],"routeComponents":{"default":null},"routes":[],"urls":{"assetsUrl":"https:\/\/themes.getbootstrap.com\/wp-content\/plugins\/dokan-lite\/assets"}};
            /* ]]> */
            </script>
            <script type='text/javascript' src='https://themes.getbootstrap.com/wp-includes/js/jquery/jquery.js?ver=1.12.4-wp'></script>
            <script type='text/javascript' src='https://themes.getbootstrap.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-67613229-3"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());
                gtag('config', 'UA-67613229-3');
            </script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>    

            <!-- This site is optimized with the Yoast SEO plugin v19.2 - https://yoast.com/wordpress/plugins/seo/ -->
            <title>CV 6 - Modele CV</title>
            <meta property="og:locale" content="fr_FR" />
            <meta property="og:type" content="article" />
            <meta property="og:title" content="CV 6 - Modele CV" />
            <meta property="og:url" content="https://modele-cv.org/cv-model/cv-6/" />
            <meta property="og:site_name" content="Modele CV" />
            <meta property="article:modified_time" content="2022-11-24T15:15:31+00:00" />
            <meta name="twitter:card" content="summary_large_image" />

            <!-- / Yoast SEO plugin. -->


        
                <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
        .center {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        </style>
            <link rel='stylesheet' id='wp-block-library-css'  href='https://modele-cv.org/wp-includes/css/dist/block-library/style.min.css' type='text/css' media='all' />
        <link rel='stylesheet' id='docbuilder-builder-form-css-css'  href='https://modele-cv.org/wp-content/plugins/doc-builder/css/builder-form.css' type='text/css' media='all' />
        <link rel='stylesheet' id='modele-cv-style-css'  href='https://modele-cv.org/wp-content/themes/modele-cv/style.css' type='text/css' media='all' />
        <link rel='stylesheet' id='child-style-css'  href='https://modele-cv.org/wp-content/themes/modele-cv-child/style.css?ver=1.0.0' type='text/css' media='all' />
        <link rel='stylesheet' id='dashicons-css'  href='https://modele-cv.org/wp-includes/css/dashicons.min.css' type='text/css' media='all' />
        <link rel='stylesheet' id='onepress-fonts-css'  href='https://fonts.googleapis.com/css?family=Raleway%3A400%2C500%2C600%2C700%2C300%2C100%2C800%2C900%7COpen+Sans%3A400%2C300%2C300italic%2C400italic%2C600%2C600italic%2C700%2C700italic&#038;subset=latin%2Clatin-ext' type='text/css' media='all' />
        <link rel='stylesheet' id='onepress-style-css'  href='https://modele-cv.org/wp-content/themes/modele-cv/style.css' type='text/css' media='all' />
        <style id='onepress-style-inline-css' type='text/css'>
        #main .video-section section.hero-slideshow-wrapper{background:transparent}.hero-slideshow-wrapper:after{position:absolute;top:0px;left:0px;width:100%;height:100%;background-color:rgba(0,0,0,0.3);display:block;content:""}.body-desktop .parallax-hero .hero-slideshow-wrapper:after{display:none!important}#parallax-hero>.parallax-bg::before{background-color:rgba(0,0,0,0.3);opacity:1}.body-desktop .parallax-hero .hero-slideshow-wrapper:after{display:none!important}a,.screen-reader-text:hover,.screen-reader-text:active,.screen-reader-text:focus,.header-social a,.onepress-menu a:hover,.onepress-menu ul li a:hover,.onepress-menu li.onepress-current-item>a,.onepress-menu ul li.current-menu-item>a,.onepress-menu>li a.menu-actived,.onepress-menu.onepress-menu-mobile li.onepress-current-item>a,.site-footer a,.site-footer .footer-social a:hover,.site-footer .btt a:hover,.highlight,#comments .comment .comment-wrapper .comment-meta .comment-time:hover,#comments .comment .comment-wrapper .comment-meta .comment-reply-link:hover,#comments .comment .comment-wrapper .comment-meta .comment-edit-link:hover,.btn-theme-primary-outline,.sidebar .widget a:hover,.section-services .service-item .service-image i,.counter_item .counter__number,.team-member .member-thumb .member-profile a:hover,.icon-background-default{color:#18497a}input[type="reset"],input[type="submit"],input[type="submit"],input[type="reset"]:hover,input[type="submit"]:hover,input[type="submit"]:hover .nav-links a:hover,.btn-theme-primary,.btn-theme-primary-outline:hover,.section-testimonials .card-theme-primary,.woocommerce #respond input#submit,.woocommerce a.button,.woocommerce button.button,.woocommerce input.button,.woocommerce button.button.alt,.pirate-forms-submit-button,.pirate-forms-submit-button:hover,input[type="reset"],input[type="submit"],input[type="submit"],.pirate-forms-submit-button,.contact-form div.wpforms-container-full .wpforms-form .wpforms-submit,.contact-form div.wpforms-container-full .wpforms-form .wpforms-submit:hover{background:#18497a}.btn-theme-primary-outline,.btn-theme-primary-outline:hover,.pricing__item:hover,.section-testimonials .card-theme-primary,.entry-content blockquote{border-color:#18497a}#footer-widgets{}.gallery-carousel .g-item{padding:0px 10px}.gallery-carousel{margin-left:-10px;margin-right:-10px}.gallery-grid .g-item,.gallery-masonry .g-item .inner{padding:10px}.gallery-grid,.gallery-masonry{margin:-10px}
        </style>
        <link rel='stylesheet' id='onepress-bootstrap-css'  href='https://modele-cv.org/wp-content/themes/modele-cv/assets/css/bootstrap.min.css' type='text/css' media='all' />
        <link rel='stylesheet' id='onepress-gallery-lightgallery-css'  href='https://modele-cv.org/wp-content/themes/modele-cv/assets/css/lightgallery.css' type='text/css' media='all' />
        <link rel='stylesheet' id='font-awesome-official-css'  href='https://use.fontawesome.com/releases/v5.15.2/css/all.css' type='text/css' media='all' integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous" />
        <link rel='stylesheet' id='font-awesome-official-v4shim-css'  href='https://use.fontawesome.com/releases/v5.15.2/css/v4-shims.css' type='text/css' media='all' integrity="sha384-1CjXmylX8++C7CVZORGA9EwcbYDfZV2D4Kl1pTm3hp2I/usHDafIrgBJNuRTDQ4f" crossorigin="anonymous" />
        <style id='font-awesome-official-v4shim-inline-css' type='text/css'>
        @font-face {
        font-family: "FontAwesome";
        font-display: block;
        src: url("https://use.fontawesome.com/releases/v5.15.2/webfonts/fa-brands-400.eot"),
                url("https://use.fontawesome.com/releases/v5.15.2/webfonts/fa-brands-400.eot?#iefix") format("embedded-opentype"),
                url("https://use.fontawesome.com/releases/v5.15.2/webfonts/fa-brands-400.woff2") format("woff2"),
                url("https://use.fontawesome.com/releases/v5.15.2/webfonts/fa-brands-400.woff") format("woff"),
                url("https://use.fontawesome.com/releases/v5.15.2/webfonts/fa-brands-400.ttf") format("truetype"),
                url("https://use.fontawesome.com/releases/v5.15.2/webfonts/fa-brands-400.svg#fontawesome") format("svg");
        }
        @font-face {
        font-family: "FontAwesome";
        font-display: block;
        src: url("https://use.fontawesome.com/releases/v5.15.2/webfonts/fa-solid-900.eot"),
                url("https://use.fontawesome.com/releases/v5.15.2/webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"),
                url("https://use.fontawesome.com/releases/v5.15.2/webfonts/fa-solid-900.woff2") format("woff2"),
                url("https://use.fontawesome.com/releases/v5.15.2/webfonts/fa-solid-900.woff") format("woff"),
                url("https://use.fontawesome.com/releases/v5.15.2/webfonts/fa-solid-900.ttf") format("truetype"),
                url("https://use.fontawesome.com/releases/v5.15.2/webfonts/fa-solid-900.svg#fontawesome") format("svg");
        }
        @font-face {
        font-family: "FontAwesome";
        font-display: block;
        src: url("https://use.fontawesome.com/releases/v5.15.2/webfonts/fa-regular-400.eot"),
                url("https://use.fontawesome.com/releases/v5.15.2/webfonts/fa-regular-400.eot?#iefix") format("embedded-opentype"),
                url("https://use.fontawesome.com/releases/v5.15.2/webfonts/fa-regular-400.woff2") format("woff2"),
                url("https://use.fontawesome.com/releases/v5.15.2/webfonts/fa-regular-400.woff") format("woff"),
                url("https://use.fontawesome.com/releases/v5.15.2/webfonts/fa-regular-400.ttf") format("truetype"),
                url("https://use.fontawesome.com/releases/v5.15.2/webfonts/fa-regular-400.svg#fontawesome") format("svg");
        unicode-range: U+F004-F005,U+F007,U+F017,U+F022,U+F024,U+F02E,U+F03E,U+F044,U+F057-F059,U+F06E,U+F070,U+F075,U+F07B-F07C,U+F080,U+F086,U+F089,U+F094,U+F09D,U+F0A0,U+F0A4-F0A7,U+F0C5,U+F0C7-F0C8,U+F0E0,U+F0EB,U+F0F3,U+F0F8,U+F0FE,U+F111,U+F118-F11A,U+F11C,U+F133,U+F144,U+F146,U+F14A,U+F14D-F14E,U+F150-F152,U+F15B-F15C,U+F164-F165,U+F185-F186,U+F191-F192,U+F1AD,U+F1C1-F1C9,U+F1CD,U+F1D8,U+F1E3,U+F1EA,U+F1F6,U+F1F9,U+F20A,U+F247-F249,U+F24D,U+F254-F25B,U+F25D,U+F267,U+F271-F274,U+F279,U+F28B,U+F28D,U+F2B5-F2B6,U+F2B9,U+F2BB,U+F2BD,U+F2C1-F2C2,U+F2D0,U+F2D2,U+F2DC,U+F2ED,U+F328,U+F358-F35B,U+F3A5,U+F3D1,U+F410,U+F4AD;
        }
        </style>
        <script type='text/javascript' id='jquery-core-js-extra'>
        /* <![CDATA[ */
        var onepress_js_settings = {"onepress_disable_animation":"","onepress_disable_sticky_header":"","onepress_vertical_align_menu":"","hero_animation":"flipInX","hero_speed":"5000","hero_fade":"750","hero_duration":"5000","hero_disable_preload":"","is_home":"","gallery_enable":"1","is_rtl":""};
        /* ]]> */
        </script>
        <script type='text/javascript' src='https://modele-cv.org/wp-includes/js/jquery/jquery.min.js?ver=3.6.0' id='jquery-core-js'></script>
        <script type='text/javascript' src='https://modele-cv.org/wp-includes/js/jquery/jquery-migrate.min.js?ver=3.3.2' id='jquery-migrate-js'></script>
        <link rel="https://api.w.org/" href="https://modele-cv.org/wp-json/" /><link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://modele-cv.org/xmlrpc.php?rsd" />
        <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://modele-cv.org/wp-includes/wlwmanifest.xml" /> 

        <link rel='shortlink' href='https://modele-cv.org/?p=315' />
            <style>
                .menu-compte {display:none}
            </style>
        <meta name="generator" content="Powered by WPBakery Page Builder - drag and drop page builder for WordPress."/>
        <style type="text/css">.broken_link, a.broken_link {
            text-decoration: line-through;
        }</style><link rel="icon" href="https://modele-cv.org/wp-content/uploads/2022/04/cropped-fav-modele-cv-32x32.png" sizes="32x32" />
        <link rel="icon" href="https://modele-cv.org/wp-content/uploads/2022/04/cropped-fav-modele-cv-192x192.png" sizes="192x192" />
        <link rel="apple-touch-icon" href="https://modele-cv.org/wp-content/uploads/2022/04/cropped-fav-modele-cv-180x180.png" />
        <meta name="msapplication-TileImage" content="https://modele-cv.org/wp-content/uploads/2022/04/cropped-fav-modele-cv-270x270.png" />
        <noscript><style> .wpb_animate_when_almost_visible { opacity: 1; }</style></noscript>
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-PKDNF8J');</script>
        <!-- End Google Tag Manager -->
        <script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script>

            <!--<meta name="viewport" content="width=1150">-->
            <meta name="robots" content="noindex,follow"/>
            <link href="https://modele-cv.org/wp-content/themes/modele-cv-child/css/safari.css" rel="stylesheet" type="text/css" /><link href="https://modele-cv.org/wp-content/themes/modele-cv-child/css/ggchrome.css" rel="stylesheet" type="text/css" /></head>

        <body class="cv-model-template-default single single-cv-model postid-315 wp-custom-logo wpb-js-composer js-comp-ver-6.1 vc_responsive">

        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PKDNF8J"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
            
        <div id="page" class="hfeed site">
            

            <link rel="stylesheet" type="text/css" href="/wp-content/themes/modele-cv-child/css/multipage.css"/>
            
        <header class="header-builder" id="header-section">
                <div class="header-create-book">
                    <div class="margin">
                        <div class="inside-template-crea-cv">
                            <div class="inside-header-builder">
                                <div class="menu-builder-1">    
                                    <a href="javascript:history.go(-1)" class="btn-return"></a>
                                    
                                </div>
                                <div class="menu-builder-3">
                                    <div class="parent-tarif">
                                        <!--<p class="color-white">Les tarifs</p>
                                        <div class="enfant-tarif">
                                            <p class="price-form-v2"><span style="font-size: 23px; font-weight: bold; color: #524949;">5,99€</span></p>
                                                <ul class="liste-abo liste-abo2">
                                                    <li><i class="fas fa-check-square"></i> <span style="font-weight: bold;">Créez</span> de nouveaux CV <span style="font-weight: bold; color: #4b6c8e;">(ILLIMITÉ)</span></li>
                                                    <li><i class="fas fa-check-square"></i> <span style="font-weight: bold;">Modifiez</span> vos CV <span style="font-weight: bold; color: #4b6c8e;">(ILLIMITÉ)</span></li>
                                                    <li><i class="fas fa-check-square"></i> <span style="font-weight: bold;">Créez</span> des lettres de motivations <span style="font-weight: bold; color: #4b6c8e;">(ILLIMITÉ)</span></li>
                                                    <li><i class="fas fa-check-square"></i> Accès au support <span style="font-weight: bold;">prioritaire</span> 24h</li>
                                                    <li><i class="fas fa-check-square"></i> Résiliable à tout moment</li>
                                                </ul>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </header>
        <div>
        </div>
        <div id="temp">
        </div>
        <div id="cv-builder">
            <div class="bloc-cv-preview">
            <section class="cv-preview copyright">
                <div id="cv" class="cv-classique-c">
            <div data-docbuilder-type="colorselector" data-docbuilder-colors="#FEE5E1,#B1DEDB,#E5F0FE,#465770,#FAB135" data-docbuilder-colors-default="0" data-docbuilder-tab="1" data-docbuilder-tab-order="1"  data-docbuilder-label="Couleur" data-docbuilder-id="color"></div>
            <div class="cv-contenu">
            <div class="cv-header" data-docbuilder-colors-background="#FEE5E1,#B1DEDB,#E5F0FE,#465770,#FAB135">
                <div class="inside-cv-header">
                <div class="bloc-name">
                    <div class="inside-bloc-name">
                        <div data-docbuilder-colors-text="black,black,black,white,black" class="cv-nom" data-docbuilder-type="text" data-docbuilder-label="Votre nom" data-docbuilder-id="nom" data-docbuilder-tab="1" data-docbuilder-tab-order="2">Salamata Sow</div>
                        <div data-docbuilder-colors-text="black,black,black,white,black" class="cv-metier" data-docbuilder-type="text" data-docbuilder-label="Votre métier" data-docbuilder-id="metier" data-docbuilder-tab="1" data-docbuilder-tab-order="3">Administratrice Réseau </div>
                </div>
                    </div>
                </div>
            </div>
                <div class="cv-sidebar" data-docbuilder-multipage-fullheight="yes">
                
                <div class="inside-sidebar-before">
                    <div class="bloc-cv-img"> 
                    <div class="cv-img" data-docbuilder-type="image" data-docbuilder-label="Votre photo" data-docbuilder-id="photo" data-docbuilder-tab="1" data-docbuilder-tab-order="1" data-docbuilder-hidable="yes">
                        <img src={{asset('IMAGE/SALA2.jpg')}} width="50%" height="100%" />
                    </div>
                    </div>
                </div>
                
                <div class="inside-sidebar">
                    <div class="info-contact">
                    <div class="cv-titre-sb">Profil</div>
                        <div class="cv-adresse info-contact-div">
                            <div class="contact-img">
                                <i class="fas fa-map-marker-alt"></i>
                            </div>
                            <div class="contact-info-content">
                                <div class="contact-label">Adresse</div> 
                                <div class="contact-txt" data-docbuilder-type="textarea" data-docbuilder-label="Adresse postale" data-docbuilder-id="adresse" data-docbuilder-tab="1" data-docbuilder-tab-order="4" data-docbuilder-hidable="yes" data-docbuilder-linked-elements=".cv-adresse">4 rue IMPASSE CHAMPROMIS</div>
                            </div>
                        </div>

                        <div class="cv-mail info-contact-div">
                            <div class="contact-img">
                                <i class="fas fa-envelope"></i>
                            </div>
                            <div class="contact-info-content">
                                <div class="contact-label">Email</div> 
                                <div class="contact-txt" data-docbuilder-type="text" data-docbuilder-label="Adresse email" data-docbuilder-id="email" data-docbuilder-tab="1" data-docbuilder-tab-order="5" data-docbuilder-hidable="yes" data-docbuilder-linked-elements=".cv-mail">salamata.sow@etu.univ-st-etienne.fr</div>
                            </div>
                        </div>

                        <div class="cv-tel info-contact-div">
                            <div class="contact-img">
                                <i class="fas fa-phone"></i>
                            </div>
                            <div class="contact-info-content">
                                <div class="contact-label">Téléphone</div> 
                                <div class="contact-txt"  data-docbuilder-type="text" data-docbuilder-label="Téléphone" data-docbuilder-id="tel" data-docbuilder-tab="1" data-docbuilder-tab-order="6" data-docbuilder-hidable="yes" data-docbuilder-linked-elements=".cv-tel">07534676XX</div>
                            </div>
                        </div>

                        <div class="cv-birthdate info-contact-div">
                            <div class="contact-img">
                                <i class="fas fa-birthday-cake"></i>
                            </div>
                            <div class="contact-info-content">
                                <div class="contact-label">Date de naissance</div> 
                                <div class="contact-txt" data-docbuilder-type="text" data-docbuilder-label="Date de naissance" data-docbuilder-id="birthdate" data-docbuilder-tab="1" data-docbuilder-tab-order="7" data-docbuilder-hidable="yes" data-docbuilder-linked-elements=".cv-birthdate">26/09/20XX</div>
                            </div>
                        </div>
                    </div>   
                    
                    
                    <div class="cv-liste" data-docbuilder-type="list" data-docbuilder-id="list-competences" data-docbuilder-label="Compétences" data-docbuilder-tab="2" data-docbuilder-tab-order="1" data-docbuilder-hidable="yes" data-docbuilder-multipage-id="block-comp" data-docbuilder-multipage-num="1">
                    <div class="cv-titre-sb">Compétences</div>	
                        <div class="comp-txt" data-docbuilder-type="text" data-docbuilder-label="Compétence" data-docbuilder-list-order="1" data-docbuilder-multipage-element="yes">
                            <li>sur les pare-feux, les routeurs, les commutateurs et les équipements de réseau</li>
                            <li>Connaissance des architectures réseau, telles que LAN</li>
                            <li>Capacité à travailler en équipe et à communiquer efficacement avec les membres de l'équipe technique et les utilisateurs finaux.</li>
                            <li>Compétence en documentation et en gestion de projet.</li>
                        </div>
                    </div>
                    
                    
                    <div class="cv-liste" data-docbuilder-type="list" data-docbuilder-id="list-langues" data-docbuilder-label="Langues" data-docbuilder-tab="2" data-docbuilder-tab-order="1" data-docbuilder-hidable="yes" data-docbuilder-multipage-id="block-langue" data-docbuilder-multipage-num="1">
                    <div class="cv-titre-sb">Langues</div>	
                        <div class="langue-txt" data-docbuilder-type="text" data-docbuilder-label="Langue" data-docbuilder-list-order="1" data-docbuilder-multipage-element="yes">
                            <i class="fa-solid fa-horizontal-rule">Français<br>Pullar<br>Wollof<br>Anglais</i> 
                        </div>
                    </div>
                    
                    <div class="cv-liste" data-docbuilder-type="list" data-docbuilder-id="list-loisirs" data-docbuilder-label="Loisirs" data-docbuilder-tab="2" data-docbuilder-tab-order="2" data-docbuilder-hidable="yes" data-docbuilder-multipage-id="block-loisir" data-docbuilder-multipage-num="1">
                    <div class="cv-titre-sb">Loisirs</div>	
                        <div class="loisir-txt" data-docbuilder-type="text" data-docbuilder-label="Loisir" data-docbuilder-list-order="1" data-docbuilder-multipage-element="yes">
                            Pratiquer l'sport : Basketball<br>Les voyages, les découvertes culturelles<br> la lecture 
                        </div>
                    </div>
                </div>
                </div>
            
                <div class="cv-content">
                <div class="inside-content">
                    
                    
                    <div class="about cv-block-about">
                        <div class="txt-about" data-docbuilder-type="textarea" data-docbuilder-label="À propos de vous" data-docbuilder-id="about" data-docbuilder-tab="1" data-docbuilder-tab-order="8" data-docbuilder-hidable="yes" data-docbuilder-linked-elements=".cv-block-about"></div>
                    </div>
                    
                    
                    <div class="experiences" data-docbuilder-multipage-id="block-exp" data-docbuilder-multipage-num="1" data-docbuilder-type="list" data-docbuilder-label="Expériences" data-docbuilder-id="cv-experiences" data-docbuilder-tab="3" data-docbuilder-tab-order="1" data-docbuilder-hidable="yes">    
                        
                        <div class="cv-titre" data-docbuilder-multipage-element="yes">
                            <div class="titre-img">
                                <i class="fas fa-briefcase"></i>
                            </div>
                            <div class="cv-titre-h">  Expériences professionnelles</div>
                        </div>
                        
                        <div class="cv-exp" data-docbuilder-multipage-element="yes" data-docbuilder-type="group" data-docbuilder-label="Expérience" data-docbuilder-list-order="1">
                            <div class="cv-date">
                                <div data-docbuilder-type="text" data-docbuilder-label="Date de début" data-docbuilder-group-order="1">Aucune pour l'instant </div>
                                <div data-docbuilder-type="text" data-docbuilder-label="Date de fin" data-docbuilder-group-order="2"></div>
                            </div>
                            <div class="contenu-exp">
                                <div class="exp-titre">
                                    <span data-docbuilder-type="text" data-docbuilder-label="Poste occupé" data-docbuilder-group-order="3"></span> - <span data-docbuilder-type="text" data-docbuilder-label="Entreprise" data-docbuilder-group-order="4"></span>
                                </div>
                                <div class="exp-txt" data-docbuilder-type="textarea" data-docbuilder-label="Description" data-docbuilder-group-order="5"></div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="formations" data-docbuilder-multipage-id="block-form" data-docbuilder-multipage-num="1" data-docbuilder-type="list" data-docbuilder-label="Formations" data-docbuilder-id="list-formations" data-docbuilder-tab="4" data-docbuilder-tab-order="1" data-docbuilder-hidable="yes">
                        
                        <div class="cv-titre" data-docbuilder-multipage-element="yes">
                            <div class="titre-img">
                                <i class="fas fa-graduation-cap"></i>
                            </div>
                            <div class="cv-titre-h">  Formations</div>
                        </div>
                        
                        <div class="cv-for" data-docbuilder-multipage-element="yes" data-docbuilder-type="group" data-docbuilder-label="Formation" data-docbuilder-list-order="1">
                            <div class="cv-date">
                                <div data-docbuilder-type="text" data-docbuilder-label="Date de début" data-docbuilder-group-order="1">2022-2023 </div>
                                <div data-docbuilder-type="text" data-docbuilder-label="Date de fin" data-docbuilder-group-order="2"></div>
                            </div>
                            <div class="contenu-forma">
                                <div class="diplome">
                                    <div data-docbuilder-type="text" data-docbuilder-label="Diplôme" data-docbuilder-group-order="3">Bachelor Universitaire de Technologie en Réseau et Tèlècommunication</div>
                                </div>
                                <div class="etablissement">
                                    <div data-docbuilder-type="text" data-docbuilder-label="Etablissement" data-docbuilder-group-order="4">A l'IUT Jean Monnet de Roanne</div><br><br>
                                </div>
                                <div class="forma-txt" data-docbuilder-type="textarea" data-docbuilder-label="Description" data-docbuilder-group-order="5"></div>
                            </div>
                            <div class="cv-date">
                                <div data-docbuilder-type="text" data-docbuilder-label="Date de début" data-docbuilder-group-order="1">2020-2021 </div>
                                <div data-docbuilder-type="text" data-docbuilder-label="Date de fin" data-docbuilder-group-order="2"></div>
                            </div>
                            <div class="contenu-forma">
                                <div class="diplome">
                                    <div data-docbuilder-type="text" data-docbuilder-label="Diplôme" data-docbuilder-group-order="3">Baccalauréat : bac général S2</div>
                                </div>
                                <div class="etablissement">
                                    <div data-docbuilder-type="text" data-docbuilder-label="Etablissement" data-docbuilder-group-order="4">Au Sènègal</div><br><br><br><br><br><br><br><br>
                                </div>
                                <div class="forma-txt" data-docbuilder-type="textarea" data-docbuilder-label="Description" data-docbuilder-group-order="5"></div>
                            </div>
                        </div>
                        <p class="center">
				            <a class="btn btn-order rounded-0" href="/salamata/portfolio/MYEportfolio">Compétence</a>
			            </p>
                    </div>
                </div>
                </div>
            </div>
        </div>
        
        <input type="hidden" id="cv-tab-name-1" value="Profil"/>
        <input type="hidden" id="cv-tab-name-2" value="Compétences & Loisirs"/>
        <input type="hidden" id="cv-tab-name-3" value="Expériences"/>
        <input type="hidden" id="cv-tab-name-4" value="Formations"/><style>.cv-classique-c { background-color:white; width: 21cm; min-height: 29.7cm; box-shadow: 0 0 20px rgba(0,0,0,.1); font-family: DejaVu Sans Condensed !important;}
        .cv-classique-c .cv-header {width:100%; background: #FEE5E1; height: 200px; margin-bottom:30px}
        .cv-classique-c .cv-img {padding: 0px 40px 30px 40px;margin-top: -194px; min-height: 195px;}
        .cv-classique-c .bloc-cv-img {text-align: center; }
        .cv-classique-c .cv-img img { max-height: 280px; width: auto;}
        .cv-classique-c .bloc-name {width: 526px; float: right}
        .cv-classique-c .inside-bloc-name {padding: 30px 40px; color: black;}
        .cv-classique-c .cv-nom {font-size: 36px; margin: 0; text-transform: uppercase; line-height: 44px;}
        .cv-classique-c .cv-metier {font-size: 20px; padding-top: 12px; line-height: 21px; font-style: italic; font-family: serif; padding-bottom: 20px; border-bottom: solid;}
        .cv-classique-c .cv-subheader {background: #4bb6e8; display:table; width:100%; padding: 15px 30px; font-weight: bold !important; text-align: center;}
        .cv-classique-c .cv-adresse {display:table;}
        .cv-classique-c .cv-tel {display:table;}
        .cv-classique-c .cv-mail {word-break: break-word;}
        .cv-classique-c .txt-about {font-size:12px; color:gray}
        .cv-classique-c .info-contact-div {width: 100%; padding-bottom:15px; display: flex; align-items: center;}
        .cv-classique-c .info-contact .contact-info-content {float:left; width:166px;}
        .cv-classique-c .contact-label {font-weight: bold !important; margin:0; line-height:20px; font-size: 12px; color:black}
        .cv-classique-c .contact-label + div {margin:0;}
        .cv-classique-c .cv-contenu {width: 100%; }
        .cv-classique-c .cv-sidebar {float: left; width: 265px; position: relative; border-right: solid 2px black; }
        .cv-classique-c .cv-content {float: left; width: 526px;}
        .cv-classique-c .inside-sidebar, .cv-classique-c .inside-content {padding:0 25px}
        .cv-classique-c .cv-titre {text-transform: uppercase; font-size: 16px; overflow: hidden; color: white; letter-spacing: 2px; margin-bottom: 20px; padding-top:30px;}
        .cv-classique-c .cv-titre-h {line-height:30px !important; background: black; width: 414px; letter-spacing: 1px;}
        .cv-classique-c .cv-exp, .cv-classique-c .cv-for {margin-top:14px; overflow:hidden;}
        .cv-classique-c .cv-date {float:left; width:25%; text-align: left; padding: 0; font-size: 11px; color: gray; padding-right: 5px;}
        .cv-classique-c .cv-date p{margin-bottom: 3px;}
        .cv-classique-c .contenu-exp {float:left; width:75%;}
        .cv-classique-c .contenu-forma {float:left; width:75%;}
        .cv-classique-c .exp-titre {text-transform: uppercase; font-weight: bold !important; margin: 0; font-size: 12px; color: black;}
        .cv-classique-c .diplome {text-transform: uppercase; margin: 0; font-size: 12px; color: black; font-weight: bold !important}
        .cv-classique-c .etablissement {text-transform: uppercase; margin: 0; font-size: 12px; color:gray !important}
        .cv-classique-c .exp-txt {color: gray; font-size: 12px;}
        .cv-classique-c .info-contact i {vertical-align: middle; font-size: 14px; color: black;}
        .cv-classique-c .titre-img i{font-size: 22px; line-height: 30px; color: #000000;}
        .cv-classique-c .forma-txt {color: gray; font-size: 12px;}
        .cv-classique-c .cv-liste p {margin-bottom: 10px; margin-left: 20px;}
        .cv-classique-c .cv-liste p:before {content: ""; height: 0; width: 0; margin: 0 10px -20px -18px; position: relative; background: #0a706e00; border-radius: 0;  display: table; border-top: 8px solid transparent; border-bottom: 8px solid transparent; border-left: 8px solid #0A706E;}
        .cv-classique-c .contact-img { float:left; width:25px;}
        .cv-classique-c .titre-img {float:left; text-align: center; width:40px ; background: white; padding-right:10px}
        .cv-classique-c .titre-img + div { float:left;}
        .cv-classique-c .contact-img img,
        .cv-classique-c .titre-img img { margin:auto; }
        .cv-classique-c .contact-txt {color:gray; font-size:12px}
        .cv-classique-c .cv-titre-sb {text-transform: uppercase; font-size: 16px; width: 100%; overflow: hidden; color: white !important; background: black; text-align: center; padding: 4px !important; letter-spacing: 1px; margin-bottom: 10px; line-height: 20px !important;}
        .cv-classique-c .cv-liste div {padding-top: 5px; padding-bottom: 5px; line-height: 16px; color:gray}
        .cv-classique-c .cv-liste {padding-bottom: 20px;}
        .cv-classique-c div, .cv-classique-c span{ letter-spacing: 0px; line-height: 18px;}
        .cv-classique-c .comp-txt, .cv-classique-c .loisir-txt, .cv-classique-c .langue-txt {font-size:12px}</style>	</section>
        </div>
            
            

                                        
                        
                        
    </body>
</html>