{% extends 'base.html.twig' %}

{% block title %}SalamataPortfolioController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<style>
    /*définition du style pour le pied  de page*/
    footer{
        background-color:#333333;
        color: #ffffff;
        padding:1em;
        texte-align: center;
    }
   .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .smal{
        font-size: 20px;
        text-align: center;
    }
    
</style>

<section class="banner d-flex justify-content-center align-items-center pt-5">
	<div class="container my-5 py-5">
		<div class="row">
			<div class="col-md-6"> 
            </div>
		    <div class="col-md-6 banner-desc lh-lg">
				<h1 class="text-capitalize py-3 redressed"><p class="smal" ><i>Hi, my name is salamata sow, student of network telecommunication unleashing my motivation, autonomy, dynamism and reliability, with a 
                strong professional ethic and team working skills</i></p>
					
				</h1>
                    
		</div><br><br><br><br><br><br>
        <section class="portfolio" id="portfolio">

            <div class="box-container"><br><br><br><br>

                

                <div class="box">
                    <a href="#",img src="images/img2.jpg" alt=""></a>
                </div>

                <div class="box">
                    <a href="/salamata/portfolio/MYEportfolio">Eportfolio<img src={{asset('IMAGE/administrateur.jpg')}} alt=""></a>
                </div>

                <div class="box">
                   <a href="/salamata/portfolio/MesHobies"> <img src={{asset('IMAGE/forex.png')}} alt=""></a>
                </div>

                <div class="box">
                  <a href="/salamata/portfolio/formulaire">Formulaire<img src={{asset('IMAGE/form.webp')}} alt=""></a>
                </div>

                <div class="box">
                   <a href="/salamata/portfolio/monCV">CV<img src={{asset('IMAGE/ADMI.jpg')}} alt=""><a>
                </div>

            </div>

        </section>

                        <p class="center">
                            
                            <br><br><br><br><br><br><br><br<<br>
                            <a class="btn btn-order rounded-0" href="/salamata/portfolio/MesHobies" style="font-size: 30px;">Find out more</a>
                        </p>
                </div>
</section>

        
		
<footer>
    copyright <span class="glyphicon glyphicon-nom-image"></span> 2023 Sala@ Propriété privé 
</footer>
        
        
{% endblock %}